
.body-initial {background-image: url('../assets/page_bg.gif');}.silex-id-1538840129238-8 {min-height: 100px;}.silex-id-1538840129237-7 {min-height: 100px;}

.page-page-1 {display: inherit;}
@import url(/ce/github/get/roleplayzilla-official/master/global.css);body.silex-runtime {opacity: 1;}
